<template>
  <div>
    <div class="row" v-if="loading.data">
      <div class="col-xs-12">Загрузка...</div>
    </div>
    <div class="row" v-else>
      <div
        class="col-xs-12 col-sm-6 col-md-3"
        v-for="(post, pIdx) in posts"
        :key="pIdx"
      >
        <ms-post-card
          @open="openPost"
          @like="clickLikePost"
          v-bind="post"
        ></ms-post-card>
      </div>
    </div>
  </div>
</template>

<script>
  import PostCard from "@/components/Post/Card";
  import { mapActions, mapGetters } from "vuex";
  export default {
    data() {
      return {
        loading: {
          data: false,
        },
        posts: [],
      };
    },
    computed: {
      ...mapGetters(["isLikePost"]),
    },
    beforeMount() {
      let lsLikesCount = {};

      this.loading.data = true;
      this.$http
        .get("/posts")
        .then((posts) => {
          this.posts = posts.data;
          this.posts.forEach((p) => {
            lsLikesCount[p.id] = p.like;
            p.image = `images/${p.image}`;
          });

          localStorage.setItem("likeCount", lsLikesCount);
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading.data = false;
        });
    },
    components: {
      "ms-post-card": PostCard,
    },
    methods: {
      ...mapActions(["likePost", "dislikePost"]),
      openPost(postId) {
        this.$router.push(`/post/${postId}`);
      },
      async clickLikePost(postId) {
        try {
          let isLikeIt = this.isLikePost(postId);
          let likeCount = 0;

          for (let pIdx = this.posts.length - 1; pIdx >= 0; pIdx--) {
            if (this.posts[pIdx].id === postId) {
              if (isLikeIt === true) {
                likeCount = --this.posts[pIdx].like;
                this.dislikePost({ id: postId, count: likeCount });
              } else {
                likeCount = ++this.posts[pIdx].like;
                this.likePost({ id: postId, count: likeCount });
              }
              break;
            }
          }
        } catch (err) {
          console.log(err);
        }
      },
    },
  };
</script>

<style></style>
