<template>
  <div class="ms-post">
    <ms-post-detail :post="postData" @like="clickLikePost" />
  </div>
</template>

<script>
  import { mapActions, mapGetters } from "vuex";
  import PostDetail from "@/components/Post/Detail.vue";

  export default {
    components: {
      "ms-post-detail": PostDetail,
    },
    props: {
      id: String,
    },
    data() {
      return {
        postId: Number(this.id),
        postData: {
          id: -1,
          description: "",
          name: "",
          detail_text: "",
          tag: "",
          date: "",
          image: "",
          like: 0,
        },
      };
    },
    computed: {
      ...mapGetters(["isLikePost"]),
    },
    beforeMount() {
      this.$http
        .get(`/posts/${this.postId}`)
        .then((post) => {
          this.postData = post.data;

          this.postData.image = `images/${this.postData.image}`;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    methods: {
      ...mapActions(["likePost", "dislikePost"]),
      async clickLikePost(postId) {
        try {
          let isLikeIt = this.isLikePost(postId);
          let likeCount = 0;

          if (isLikeIt === true) {
            likeCount = --this.postData.like;
            this.dislikePost({ id: postId, count: likeCount });
          } else {
            likeCount = ++this.postData.like;
            this.likePost({ id: postId, count: likeCount });
          }
        } catch (err) {
          console.log(err);
        }
      },
    },
  };
</script>

<style lang="scss"></style>
