<template>
  <div class="ms-like">
    <div class="ms-like__wrapper" @click.prevent="clickLike">
      <svg
        width="15"
        height="13"
        viewBox="0 0 15 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.67961 13L6.66057 12.0109C2.87557 8.76087 0.400757 6.57065 0.400757 3.88587C0.400757 1.69565 2.14768 0 4.40413 0C5.64153 0 6.87894 0.565217 7.67961 1.4837C8.48029 0.565217 9.71769 0 10.9551 0C13.2115 0 14.9585 1.69565 14.9585 3.88587C14.9585 6.57065 12.4837 8.76087 8.69865 12.0109L7.67961 13Z"
          :fill="fillColor"
        />
      </svg>
      <div class="ms-like__counter-container">
        <span class="ms-like__count">{{ like }}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      like: {
        type: Number,
        default: 0,
      },
      active: Boolean,
    },
    computed: {
      fillColor() {
        return this.active ? "#EB5757" : "#C7C7C7";
      },
    },
    methods: {
      clickLike() {
        this.$emit("click");
      },
    },
  };
</script>

<style lang="scss">
  .ms-like {
    display: flex;
    &_right {
      justify-content: flex-end;
    }
    &_left {
      justify-content: flex-start;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      align-items: center;
      -webkit-user-select: none;
      user-select: none;

      &:hover {
        .ms-like__img {
          transform: scale(1.2);
        }
      }
    }
    &__counter-container {
      position: relative;
      min-width: 30px;
      text-align: center;
      padding-left: 4px;
    }
    &__count {
    }
  }
</style>
