<template>
  <div class="ms-tag">
    {{ tagName }}
  </div>
</template>

<script>
  export default {
    props: {
      tag: String,
    },
    computed: {
      tagName() {
        return `#${this.tag}`;
      },
    },
  };
</script>

<style lang="scss">
  $tagColor: rgba(141, 190, 80, 0.5);

  .ms-tag {
    cursor: pointer;
    padding: 7px 11px;
    background-color: $tagColor;
    border-radius: 4px;
    color: white;
    margin-right: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
