<template>
  <div class="ms-card">
    <div class="row">
      <div class="col-xs-12">
        <div class="ms-card__header">
          <ms-image :image="image" />
          <div class="ms-card__tags" v-if="tag">
            <div class="ms-tags">
              <div class="ms-tags__item">
                <div class="ms-tags__wrapper">
                  <ms-tag
                    v-for="(tag, tIdx) in postTags"
                    :key="'tag_' + tIdx"
                    :tag="tag"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="ms-card__name ms-text--bold" @click="$emit('open', id)">
          {{ postName }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="ms-card__description">
          {{ postDescription }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="ms-card__footer">
          <div class="row">
            <div class="col-xs-6">
              <div class="ms-card__date ms-date">
                {{ postDate }}
              </div>
            </div>
            <div class="col-xs-6">
              <div class="ms-card__like">
                <ms-like
                  class="ms-like_right"
                  :like="like"
                  :active="isLikePost(id)"
                  @click="likePost"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Like from "@/components/Like.vue";
  import Tag from "@/components/Tag.vue";
  import Image from "@/components/Post/Image.vue";
  import { mapGetters } from "vuex";

  export default {
    components: {
      "ms-like": Like,
      "ms-tag": Tag,
      "ms-image": Image,
    },
    props: {
      id: Number,
      name: String,
      description: String,
      image: String,
      like: {
        type: Number,
        default: 0,
      },
      date: {
        type: String,
      },
      tag: {
        type: String,
      },
    },
    data() {
      return {
        postName: this.name,
        postDescription: this.description,
      };
    },
    computed: {
      ...mapGetters(["isLikePost"]),
      postDate() {
        return this.date;
      },
      postTags() {
        return this.tag.trim().split(" ");
      },
    },
    methods: {
      likePost() {
        this.$emit("like", this.id);
      },
    },
  };
</script>

<style lang="scss">
  .ms-card {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    &:hover {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
    }
    &__tags {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      box-sizing: border-box;
      padding: 10px;
    }
    &__name {
      cursor: pointer;
      font-size: 18px;
      margin: 1rem 0;
      &:hover {
        text-decoration: underline;
      }
    }
    &__description {
      font-size: 15px;
    }
    &__footer {
      margin-top: 1rem;
    }
    // &__date {
    //   font-style: italic;
    //   font-size: 0.9rem;
    // }
    &__like {
      text-align: right;
    }
  }
</style>
