<template>
  <div class="ms-post-detail">
    <div class="row">
      <div class="col-xs-12">
        <div class="ms-post-detail-data__image">
          <ms-image :image="post.image" :height="400" />
        </div>
      </div>
    </div>
    <div class="ms-post-detail__wrapper">
      <div class="row">
        <div class="col-xs-12">
          <div class="ms-post-detail__control">
            <button class="ms-btn" @click="$router.back()">Назад</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="ms-date">
            {{ post.date }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="ms-post-detail__name ms-text_bold">
            {{ post.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="ms-post-detail__detail">{{ post.detail_text }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="ms-post-detail__likes">
            <ms-like
              :like="post.like"
              :active="isLikePost(post.id)"
              @click="likePost"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="ms-post-detail__tags">
            <ms-tag
              v-for="(tag, tIdx) in tags"
              :key="'tag_' + tIdx"
              :tag="tag"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from "vuex";
  import Like from "@/components/Like.vue";
  import Tag from "@/components/Tag.vue";
  import Image from "@/components/Post/Image.vue";
  export default {
    components: {
      "ms-like": Like,
      "ms-tag": Tag,
      "ms-image": Image,
    },
    props: {
      post: Object,
    },
    computed: {
      ...mapGetters(["isLikePost"]),
      tags() {
        return this.post.tag.trim().split(" ");
      },
    },
    methods: {
      likePost() {
        this.$emit("like", this.post.id);
      },
    },
  };
</script>

<style lang="scss">
  $tagColor: rgba(141, 190, 80, 0.5);
  .ms-post-detail {
    &__wrapper {
      margin: 20px auto;
      text-align: left;
      max-width: 920px;
    }
    &__control {
      padding-bottom: 15px;
    }
    &__name {
      font-size: 38px;
      padding: 10px 0;
    }
    &__detail {
      line-height: 22px;
      font-size: 15px;
    }
    &__likes {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0;
    }
    &__tags {
      display: flex;
      justify-content: flex-start;
      padding-top: 15px;
      border-top: 1px solid $tagColor;
    }
  }
</style>
