<template>
  <div class="ms-img">
    <div
      class="ms-img__item"
      :style="{
        backgroundImage: 'url(' + $publicPath + image + ')',
        backgroundSize: size,
        height: height + 'px',
      }"
    ></div>
    <!-- <img :src="" alt="" class="ms-img__item" /> -->
    <div class="ms-img__gradient"></div>
  </div>
</template>

<script>
  export default {
    props: {
      image: String,
      height: {
        type: Number,
        default: 250,
      },
      size: {
        type: String,
        default: "cover",
      },
    },
  };
</script>

<style lang="scss">
  .ms-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &__item {
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
    }
    &__gradient {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.5;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
  }
</style>
