.ms-date {
  font-style: italic;
  font-size: 0.9rem;
  color: rgb(144, 149, 153);
}

.ms-text_bold {
  font-weight: bold;
}

.ms-btn {
  display: inline-block;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
}
