<template>
  <div id="app">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import url('./assets/styles/common/style.scss');
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #f4f4f4;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 20px;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
